@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
/* font */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import "components/상태창.css";
@import "components/내비창.css";
@import "components/페이지상단.css";
@import "components/친구창.css";
@import "components/채팅창.css";
@import "components/찾기창.css";
@import "components/더보기창.css";
@import "components/세팅창.css";
@import "components/채팅스크린.css";


 body {
    font-family: "Google Sans", sans-serif;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 a {
    text-decoration: none;
    color: inherit;
    width: 100%;
 }

 .헤더 {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
 }

 .헤더__제목 {
   font-size: 24px;
   font-weight: 500;
   margin-top: 100px;
 }

 .헤더__내용 {
   display: flex;
   text-align: center;
   font-size: 15px;
   margin: 20px 0;
   opacity: 0.5;
   width: 65%;
 }

 .아이디-입력, .비밀번호-입력 {
   margin-top: 20px;
   width: 90%;
   height: 40px;
   border: 0;
   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
 }

 .아이디-입력:focus, .비밀번호-입력:focus {
   outline: none;
   border-bottom: 1px solid rgba(0, 0, 0, 0.8);
 }

 .버튼-로그인, .버튼-회원가입 {
   margin-top: 20px;
   width: 100%;
   height: 40px;
   background-color: #dfdfdf;
   border: 0;
   border-radius: 4px;
   font-size: 16px;
   cursor: pointer;
 }

 .아이디-비밀번호-찾기 {
  display: flex;
  justify-content: center;
  width: 100%;
   margin-top: 20px;
   text-decoration: none;
   color: black;
   opacity: 0.8;
   font-size: 14px;
 }

 form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
 }

 #로딩창 {
  background-color: #FAE100;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 128px;
  animation: 로딩중 1s ease-in-out forwards;
 }

 @keyframes 로딩중 {
  form {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
 }

 #모바일창크기 {
  position: absolute;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  background-color: #FAE100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  top: 0;
 }