/* DONT DELETE THIS */
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
/* WRITE YOUR CODE BELOW */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

body {
    font-family: "Google Sans", sans-serif;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;    

}

.mainright,
.mainleft {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 700px;
    border: solid 1px white;
    margin: 70px;
    background-color: white;
    border-radius: 30px;
    position: relative;
    flex:none;

}

.main__menu {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.music-img-circle-box {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.music-img-circle {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: 2px 5px 20px rgb(250, 120, 120);
}

.music-titlebox {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.music-title {
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
    margin: 10px;
}

.music-genre {
    display: flex;
    justify-content: center;
    font-size: small;
    color: rgb(163, 163, 163);
    margin: 5px;
}

.mianleft-box1 {
    display: flex;
    justify-content: space-evenly;
    margin: 5px
}

.mainleft__shuffle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 35px;
    color: white;
    background-color: black;
    border-radius: 70px;
    margin: 5px;
}

.mainleft__like {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 35px;
    border-radius: 70px;
    margin: 5px;
    box-shadow: 2px 5px 20px rgb(165, 165, 165);
}

.mainleft__music {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}

.mainleft__music__list {
    display: flex;
    align-items: center;
    margin: 10px;
    position: relative;
    border-radius: 10px;
    border: solid 1px white;
}

.mainleft__music__list:nth-child(2) {
    box-shadow: 5px 5px 20px rgb(200, 200, 200);
}

.mainleft__music__list-imgbox {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.mainleft__music__list-text {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 10px;
}

.music-creator {
    display: block;
    font-size: small;
    color: rgb(163, 163, 163);
    margin:5px;
}

.music-title-s {
    display: block;
    font-weight: bold;
    margin:5px;
}

.list-icon {
    position: absolute;
    right: 0;
    color: rgb(163, 163, 163);
    margin-right: 10px;
}

.mainleft__play {
    display: flex;
    align-items: center;
    width: 370px;
    height: 40px;
    color: white;
    background-color: black;
    border-radius: 70px;
    margin: 5px;
    position: sticky;
    padding: 10px;
    bottom: 10px;
}

.mainleft__playicons {
    display: flex;
    justify-content: space-evenly;
    width: 150px;
    position: absolute;
    right: 10px;
}

.mainright__music {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainright__music-imgbox {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.mainright__music-img {
    border-radius: 20px;
    box-shadow: 5px 10px 20px rgb(250, 120, 120);
}

.mainright__music-name {
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
    margin: 10px;
}

.mainright__music-creator {
    display: flex;
    justify-content: center;
    font-size: small;
    color: rgb(163, 163, 163);
    margin: 5px;
}

.mainright__playbar-text {
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.mainright__playbar-time-1 {
    display: flex;
    position: absolute;
    left: 10px;
    font-size: small;
    color: rgb(163, 163, 163);
}

.mainright__playbar-time-2 {
    display: flex;
    position: absolute;
    right: 10px;
    font-size: small;
    color: rgb(163, 163, 163);
}

.mainright__palybar {
    display: flex;
    position: relative;
    margin: 0px 10px;
    padding: 0px 10px;
}

.mainright__playbar-total {
    display: flex;
    justify-content: center;
    width: 370px;
    height: 5px;
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
}

.mainright__playbar-now {
    position: absolute;
    width: 230px;
    height: 5px;
    background-color: black;
    border-radius: 5px;
    
}

.playbar-icon {
    position: absolute;
    left: 230px;
    top: -5px;
}

.mainright__play-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 35px;
}

.mainright__play-icon-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: black;
    border-radius: 100%;
}
